header {
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    background-color: #3498db;
    color: #fff;
}

.navigation-bar {
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    background-color: #2980b9;
    color: #fff;
}
.navigation {
    padding-left: 10em;
    padding-right: 10em;
    display: flex;
    justify-content: space-between;
}

.navigation a {
    color: #fff;
    text-decoration: none;
}

.navigation a:hover {
    color: #34495e;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

main {
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    background-color: #fff;
    color: #333;
}

footer {
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: background-color 0.3s, color 0.3s;
    background-color: #34495e;
    color: #fff;
}

.content-header {
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.article {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    text-align: justify;
}

.article:hover {
    background-color: #f5f5f5;
}

a.article-link {
    color: #000;
    text-decoration: none;
}

a.article-link:hover {
    color: #0167FF;
}

a.category-link {
    color: #0167FF;
    text-decoration: none;
}

a.category-link:hover {
    color: #5000FF;
}

a.header-link {
    color: #fff;
    text-decoration: none;
}

strong {
    color: #000;
}

.content {
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 1em;
}